In [1]:
import pandas as pd
from itertools import permutations, product

csv_name = "Voter Fraud - Sheet2.csv"

df = pd.read_csv(csv_name, header=None)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Rutherford,NaN,NaN,George,Rutherford,Donald,NaN,NaN,NaN,Rutherford,NaN
1,NaN,NaN,Donald,NaN,NaN,Benjamin,NaN,George,NaN,Donald,Donald,John
2,Rutherford,Benjamin,NaN,George,Rutherford,Donald,John,Benjamin,Benjamin,NaN,John,Benjamin
3,Benjamin,NaN,John,Benjamin,NaN,John,Rutherford,Donald,John,Rutherford,George,NaN
4,John,John,Benjamin,NaN,Benjamin,George,NaN,NaN,NaN,Benjamin,Benjamin,Donald

In [5]:
def missing(row):
    all_names = {"Rutherford","Benjamin","George","Donald","John"}
    return all_names.difference(set(row))

In [6]:
all_perms = []
for row in df:
    all_perms.append(list(permutations(missing(df[row]))))

In [8]:
all_perms, len(all_perms)

([[('George', 'Donald'), ('Donald', 'George')],
  [('George', 'Donald'), ('Donald', 'George')],
  [('Rutherford', 'George'), ('George', 'Rutherford')],
  [('John', 'Rutherford', 'Donald'),
   ('John', 'Donald', 'Rutherford'),
   ('Rutherford', 'John', 'Donald'),
   ('Rutherford', 'Donald', 'John'),
   ('Donald', 'John', 'Rutherford'),
   ('Donald', 'Rutherford', 'John')],
  [('John', 'Donald'), ('Donald', 'John')],
  [()],
  [('Benjamin', 'George'), ('George', 'Benjamin')],
  [('John', 'Rutherford'), ('Rutherford', 'John')],
  [('Rutherford', 'George', 'Donald'),
   ('Rutherford', 'Donald', 'George'),
   ('George', 'Rutherford', 'Donald'),
   ('George', 'Donald', 'Rutherford'),
   ('Donald', 'Rutherford', 'George'),
   ('Donald', 'George', 'Rutherford')],
  [('John', 'George'), ('George', 'John')],
  [()],
  [('Rutherford', 'George'), ('George', 'Rutherford')]],
 12)

In [9]:
combos = list(product(*all_perms))

In [14]:
all_dfs = []
for combo in combos:
    new_df = df.copy()
    for row, names in zip(new_df, combo):
        name_iterator = iter(names)
        for i, name in enumerate(new_df[row]):
            if pd.isnull(name):
                new_df.loc[i, row] = next(name_iterator)
    all_dfs.append(new_df)

In [17]:
assert(len(all_dfs) == len(combos))

In [ ]:
    if scores_list[0][0] == "Donald" and scores_list[1][0] == "Rutherford" and scores_list[2][0] == "George"

In [35]:
for idx, df in enumerate(all_dfs):
    scores = {"Rutherford":0,"Benjamin":0,"George":0,"Donald":0,"John":0}
    for row in df:
        for i, name in enumerate(df[row]):
            scores[name] += (5-i)
    scores_list = sorted([(x, scores[x]) for x in scores.keys()], key=lambda x: x[1], reverse=True)
    break

In [38]:
scores_list

[('Rutherford', 45),
 ('George', 37),
 ('John', 37),
 ('Donald', 33),
 ('Benjamin', 28)]